<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coinvert.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>62677B8ECC5F09EFEC86AD4362F4FC70A93A1A2D</string>
				<key>dateExpires</key>
				<string>26/01/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>62677B8ECC5F09EFEC86AD4362F4FC70A93A1A2D</string>
						<key>dateExpires</key>
						<string>26/01/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>352Y6WCA3Q</string>
						<key>name</key>
						<string>fairfaqs pty ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>352Y6WCA3Q.merchant.com.faifaqs.experisapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>352Y6WCA3Q</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>352Y6WCA3Q.merchant.com.faifaqs.experisapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>coinvert.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c313d26e-3214-49b5-8950-88a2471d13be</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>352Y6WCA3Q</string>
				<key>name</key>
				<string>fairfaqs pty ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
