<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611969168057-g0qj5k2dugmpkrde0bm88h2t6ak7ljc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611969168057-g0qj5k2dugmpkrde0bm88h2t6ak7ljc5</string>
	<key>API_KEY</key>
	<string>AIzaSyC2y8Gel80UwConD3NRX8aucXMPzZPlyAc</string>
	<key>GCM_SENDER_ID</key>
	<string>611969168057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceta</string>
	<key>PROJECT_ID</key>
	<string>ceta-6a28b</string>
	<key>STORAGE_BUCKET</key>
	<string>ceta-6a28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611969168057:ios:99bc8ace83a2dadd7e2168</string>
</dict>
</plist>